{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAC Aqua Aerobics Page</title>
    <link rel="stylesheet" href="{% static 'css/everything2.css' %}">
    <link rel="stylesheet" href="{% static 'css/AquaAerobic/AA.css' %}">
</head>

<body id="PG-grid">

    <video autoplay muted loop id="background-video">
        <source src="{% static 'PoolSurface.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <header class="banner">
        <div id="banner-bin">
            <div id="banner-button">
                <a href="{% url 'index' %}" id="logo">
                    <img src="{% static 'BAC.png' %}" alt="BAC-logo" id="BAC-logo">
                </a>
            </div>
        </div>

        <div id="staff" style="text-align: right; margin-right: 10px;">
            <div id="addJob">
                <a id="jobDesc" class="custom-link" href="{% url 'aboutus:jobDesc' %}" style="margin-left: 10px;">
                    Available Jobs
                </a>
            </div>

            <div id="user-login">
                {% if user.is_authenticated %}
                <div class="user-welcome">
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-logout custom-link">
                            Welcome {{ user.username }}
                        </button>
                    </form>
                    <a href="{% url 'aquaaerobic:edit_schedule' %}" class="btn custom-link" style="margin-left: 10px;">
                        Edit Page
                    </a>
                </div>
                {% else %}
                <a id="login" class="custom-link" href="/login" style="margin-left: 10px;">Staff Log In</a>
                {% endif %}
            </div>

            <div id="about-us">
                <a id="aboutus" class="custom-link" href="{% url 'aboutus:aboutus' %}">About Us</a>
            </div>

            <div id = holiday>
                <a id="holiday" class="custom-link" href="{% url 'holiday:holiday_view' %}">Holiday Schedule</a>
            </div>
        </div>
    </header>

    <div class="PG-content">
        <div id="title" class="box">
            <div class="title-box">
                <h1>AQUA AEROBICS</h1>
                {% if schedules.first.urgent %}
                <h3 id="emergency-anouncement-lap-swim" class="emergency-anouncement">
                    {{ schedules.first.urgent }}
                </h3>
                {% endif %}
            </div>
        </div>

        <div id="pic" class="box">
            <img src="{% static 'AquaAerobic.JPG' %}" alt="AApic" id="AApic"
                style="width: 100%; height: auto; display: block; margin: 0 auto;">
        </div>

        <div class="desktop-only">
            <div id="top">
                <div id="scheduleInfo" class="box">
                    <h1>Schedule</h1>
                    <div id="schedule">
                        <div id="weekdays" class="schedule-card">
                            <h2>{{ schedules.first.days }}</h2>
                            <h2>{{ schedules.first.timeframe }}</h2>
                        </div>
                    </div>
                    <h1>Information</h1>
                    <div id="desc" class="schedule-card">
                        <p>{{ schedules.first.info }}</p>
                    </div>
                    <h1>Fees</h1>
                    <div id="fees" class="schedule-card">
                        <p>${{ schedules.first.daily_fee }}/Person</p>
                        <p>No reservation required! Either buy online via our CivicRec sign up or buy at the pool!</p>
                        <a id="Register" class="custom-link"
                            href="https://secure.rec1.com/CA/burlingame-aquatics-ca/catalog">
                            Register Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <div id="foot">
            <h2>Questions?</h2>
            <h3>Contact our Front Desk!</h3>
            <h3>programs@burlingameaquatics.com</h3>
            <h3>(650) 558 2881</h3>
        </div>
    </footer>

</body>

</html>