/* Reset some default styles */
* {
    box-sizing: border-box;
}

.PG-content {
    background-color: gold;
}

/* Top section styles */
#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    width: auto;
    column-gap: 0px;
    background-color: transparent;
}

/* Schedule section styles */
#scheduleInfo h1 {
    margin-bottom: 10px;
}

.schedule-card h2 {
    margin-bottom: 10px;
}

.schedule-card h3 {
    margin-bottom: 5px;
}

.schedule-card {
    padding: 5px;
    margin-bottom: 20px;
}

/* Image styles */
#pic img {
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* Description section styles */
#desc h2 {
    margin-bottom: 10px;
}

#card h3 {
    margin-bottom: 10px;
}

/* Bottom section styles */
#bottom {
    display: flex;
    justify-content: center;
}

/* Fees section styles */
#fees h2 {
    margin-bottom: 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        padding: 30px;
    }

    #scheduleInfo,
    #pic,
    #fees,
    #desc {
        flex: 100%;
    }
}